body{
    text-align: center;
    background-color: coral;
}

#game-heading{
    font-size: 60px;
    color: rgb(82, 29, 1);
}

.game-button{
    border-radius: 50px;
    height: 150px;
    width: 150px;
    margin: 10px;   /*to bring space between buttons*/
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.display-score{
    color:rgb(23, 19, 139);
    font-style: italic ;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#score{
    color: rgb(205, 0, 0);
}

#reset-button{
    height: 60px;
    width: 80px;
    font-weight: bold;
    font-size: large;
    border-radius: 10px;
}